<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qianfeng.contentproviderdemo">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- authorities里面不能写 scheme 和 path,只能写主机地址 -->
        <provider
            android:name=".MyContentProvider"
            android:authorities="woshizhuji"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="safsadfsdafsad"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--<data android:mimeType="vnd.android.item/sadfhjqahsdfh"/>-->
            </intent-filter>
        </activity>
    </application>

</manifest>